ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* position: fixed;
  width: 100%; */
}

li {
  float: left;
  margin-left: 50px;
}

li a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  margin: 5px auto;
  color: white;
  font-size: 25px;
  position: relative;
  z-index: 10000;
}

li a:after {
  content: "";
  position: absolute;
  background-color: tomato;
  top: 80%;
  left: 15%;
  width: 0%;
  height: 2%;
  z-index: -1;
}

li a:hover:after {
  width: 70%;
  transition: 0.35s ease-in-out;
}

.particle {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 20%;
  height: 20%;
  opacity: 0.6;
}

.particle2 {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 20%;
  height: 20%;
  opacity: 0;
  transition: all 0.4s;
}

.card {
  font-size: 200px;
}
.card h2 {
  margin: 0;
  text-align: center;
  text-shadow: 50px 60px rgba(40, 40, 40);
  font-style: italic;
}
.card p {
  text-shadow: 1px 1px rgba(40, 40, 40);
}

@supports (-webkit-text-stroke: 1px black) {
  .card h2 {
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: rgb(255, 203, 5);
  }
}
